<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="noCache" value="true" />
		<add key="httpCacheFolder" value="clear" />
		<add key="globalPackagesFolder" value=".packages" />
	</config>
	<packageSources>
		<clear />
		<!-- ensure only the sources defined below are used -->
		<add key="Artifacts" value="./artifacts/" />
	</packageSources>
</configuration>